{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Anggrio's Book Search</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-md-center mt-5 mb-4">
        <h1 class="text-center">
            <strong>Anggrio's Book Search</strong>
        </h1>
    </div>
    <div class="form-group">
        <label for="searchBox">Search for Books</label>
        <input type="text" class="form-control" id="searchBox" placeholder="Please Enter a keyword"/>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" id="searchButton" style="width: 100%;">
            <h4>Search</h4>
        </button>
    </div>
    <br>
    <div>
        <table class="table table-striped table-info" id="searchResult">
            <thead>
                <tr>
                    <th scope="col" style="width: 50%;">
                        <div class="text-center">
                            Title(s)
                        </div>
                    </th>
                    <th scope="col">
                        <div class="text-center">
                            Author(s)
                        </div>
                    </th>
                    <th scope="col" style="width: 10%;">
                        <div class="text-center">
                            Likes
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="text-center">
            <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#likeModal" id="topButton" style="width: 100%;">
                <h4>Top 5 Most Liked Books</h4>
            </button>
        </div>
        <div class="modal fade" id="likeModal" tabindex="-1" role="dialog" aria-labelledby="likeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="likeeModalLabel">Top 5 Most Liked Books</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-info" id="searchResult">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 50%;">
                                    <div class="text-center">
                                        Title(s)
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="text-center">
                                        Author(s)
                                    </div>
                                </th>
                                <th scope="col" style="width: 10%;">
                                    <div class="text-center">
                                        Likes
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}